<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto&family=Roboto+Slab:wght@600&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Concert+One&family=Roboto&family=Roboto+Slab:wght@600&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="h-screen w-screen flex flex-col justify-center items-center">
    <%- include('header.ejs') %>

    <div class="h-full w-3/6 flex flex-col justify-center items-center">
      <h1 class="text-4xl text-slate-400 text font-mono"><%= heading %></h1>

      <% if (locals.post) { %>
      <form
        class="rounded-xl border-2 border-foot w-full h-4/5 bg-mainContent flex flex-col justify-start items-center gap-3 pt-12"
        id="newPostForm"
        method="post"
        action="/api/posts/<%= post.id %>"
      >
        <input
          class="rounded-md hover:border-foot hover:border-2 text-2xl text-center h-16 w-4/5"
          type="text"
          name="title"
          placeholder="Title"
          required
          value="<%= post.title %>"
        />
        <textarea
          class="rounded-md hover:border-foot hover:border-2 text-3xl text-center h-80 w-4/5"
          name="content"
          placeholder="Content"
          required
          rows="10"
        >
<%= post.content %></textarea
        >
        <input
          class="rounded-md hover:border-foot hover:border-2 text-2xl text-center h-16 w-4/5"
          type="text"
          name="author"
          placeholder="Author"
          required
          value="<%= post.author %>"
        />
        <button
          class="border-2 text-center wd-16 rounded-xl p-4 bg-white hover:border-2 hover:border-foot hover:drop-shadow-lg"
          type="submit"
        >
          <%= submit %>
        </button>
      </form>
      <% } else {%>
      <form
        class="rounded-xl border-2 border-foot w-full h-4/5 bg-mainContent flex flex-col justify-start items-center gap-3 pt-12"
        id="newPostForm"
        method="post"
        action="/api/posts"
      >
        <input
          class="rounded-md hover:border-foot hover:border-2 text-2xl text-center h-16 w-4/5"
          type="text"
          name="title"
          placeholder="Title"
          required
        />
        <textarea
          class="rounded-md hover:border-foot hover:border-2 text-3xl text-center h-80 w-4/5"
          name="content"
          placeholder="Content"
          required
          rows="10"
        ></textarea>
        <input
          class="rounded-md hover:border-foot hover:border-2 text-2xl text-center h-16 w-4/5"
          type="text"
          name="author"
          placeholder="Author"
          required
        />
        <button
          class="border-2 text-center wd-16 rounded-xl p-4 bg-white hover:border-2 hover:border-foot hover:drop-shadow-lg"
          type="submit"
        >
          <%= submit %>
        </button>
      </form>
      <% } %>
    </div>

    <%- include('footer.ejs') %>
  </body>
</html>
